---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: grafana
    server: "https://kubernetes.default.svc"
  project: infra
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - FailOnSharedResource=true
    retry:
      limit: 15
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
  source:
    repoURL: "https://grafana.github.io/helm-charts"
    targetRevision: "~8.10.2"
    chart: "grafana"
    helm:
      releaseName: grafana
      valuesObject:
        envValueFrom:
          GF_AUTH_GITHUB_CLIENT_ID:
            secretKeyRef:
              name: grafana-github-oauth
              key: client-id
          GF_AUTH_GITHUB_CLIENT_SECRET:
            secretKeyRef:
              name: grafana-github-oauth
              key: client-secret
        serviceMonitor:
          enabled: true
        sidecar:
          enableUniqueFilenames: true
          dashboards:
            enabled: true
            label: grafana_dashboard
            labelValue: "1"
            searchNamespace: ALL
          datasources:
            enabled: true
            label: grafana_datasource
            labelValue: "1"
            searchNamespace: ALL
            initDatasources: true
        grafana.ini:
          server:
            enable_gzip: true
            domain: grafana.iakimenko.link
            root_url: https://grafana.iakimenko.link:443
          auth:
            oauth_auto_login: false
          auth.anonymous:
            enabled: true
            org_role: Viewer
          auth.github:
            enabled: true
            allow_sign_up: true
            auto_login: false
            scopes: "user:email,read:org"
            auth_url: https://github.com/login/oauth/authorize
            token_url: https://github.com/login/oauth/access_token
            api_url: https://api.github.com/user
            allowed_organizations: "kroche-co"
          users:
            auto_assign_org_role: Editor
        ingress:
          enabled: true
          ingressClassName: nginx
          annotations:
            cert-manager.io/cluster-issuer: "letsencrypt-issuer"
          hosts:
            - grafana.iakimenko.link
          path: /
          tls:
            - secretName: grafana-iakimenko-link
              hosts:
                - grafana.iakimenko.link
